page-about {
    .scroll-content {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        //overflow: hidden;
    }
    img {
        width: 50% !important;
        height: auto;
        margin: 0 auto;
    }
    ion-row {
        align-items: center;
        text-align: center;
    }
    ion-list {
        margin: 0;
    }
}