    page-photo {
        .profile-image {
            img {
                height: auto;
                width: 100%;
                border-radius: 10px;
            }
            margin: 10px;
        }
        .scroll-content {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }