<ion-header>
    <ion-navbar color="nm1">
        <button ion-button menuToggle>
            <ion-icon name="md-grid"></ion-icon>
          </button>
        <ion-title>Subscription</ion-title>
        <ion-buttons end>
            <button (click)="ViewPayments()" ion-button icon-only clear>
                                      <ion-icon name="md-cash" color="light">
                                      </ion-icon>
                                  </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-fab right bottom>
            <button ion-fab class="add-fab" (click)="AddSubscription()" color="nm2">
              <ion-icon name="md-add"></ion-icon>
            </button>
        </ion-fab>
        <ion-card *ngIf="!active">
            <ion-card-content>
                <ion-row class="centerSpinner">
                    <ion-col col-12>
                        No active subscription found.<br/> Please add a subscription and activate it by paying with your mobile money account...
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <ion-card *ngIf="active">
            <ion-card-header text-center style="background-color: burlywood;font-size: x-large;">
                Subscription Details
            </ion-card-header>
            <ion-card-content>
                <ion-row>
                    <ion-col col-4 text-right>
                        <div>Start Date:</div>
                        <div>End Date:</div>
                    </ion-col>
                    <ion-col col-8>
                        <div>{{active.subscriptionStartDate | date:'medium'}}</div>
                        <div>{{active.subscriptionEndDate | date:'medium'}}</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-4 text-right>
                        <div>Duration:</div>
                        <div>Days to Expiry:</div>
                    </ion-col>
                    <ion-col col-8 class="package-label">
                        <div>{{active.duration}} days</div>
                        <div>{{active.daysToExpiry | number:'1.2-2'}} day(s)</div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>


        <ion-list-header color="nm4" style="font-size: x-large;">
            Subscriptions
        </ion-list-header>
        <ion-card *ngFor="let sub of subscriptions" style=" border: 2px solid #009688;">
            <ion-item>
                <p text-right><span ng-class="setStatus(sub.status)">{{sub.status}}</span></p>
                <h1><span style="color: #a4a4a4;font-size: 2rem;">Plan:</span> {{sub.plan}}</h1>
                <p>Subscription Date: {{sub.date | date:'medium'}}</p>
                <ion-row>
                    <ion-col col-4 text-right>
                        <div>Duration:</div>
                        <div>Amount:</div>
                    </ion-col>
                    <ion-col col-8 text-left>
                        <div>{{sub.duration}} days</div>
                        <div>{{sub.amount | currency:'GHS '}}</div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="sub.status==='Pending' ">
                    <ion-col col-6>
                        <button type="button " ion-button block small color="success" (click)="MakePayment(sub.id)">Add Payment</button>
                    </ion-col>
                    <ion-col col-6>
                        <button type="button " ion-button block small color="danger" (click)="removeSubscription(sub.id)">Remove</button>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-card>
        <button ion-button full (click)="loadMore()" [hidden]="!(total > subscriptions.length)" *ngIf="subscriptions">Load More</button>
    </ion-list>
</ion-content>