<ion-header>
    <ion-navbar color="nm1">
        <ion-title>Subscription</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-fab right bottom>
            <button ion-fab class="add-fab" (click)="AddSubscription()" color="nm2">
              <ion-icon name="md-add"></ion-icon>
            </button>
        </ion-fab>
        <ion-card *ngIf="!active">
            <ion-card-content>
                <ion-row class="centerSpinner">
                    <ion-col col-12>
                        No active subscription found.<br/> Please add a subscription and activate it by paying with your mobile money account...
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <ion-card *ngIf="active">
            <ion-card-header text-center style="background-color: burlywood;font-size: x-large;">
                Subscription Details
            </ion-card-header>
            <ion-card-content>
                <ion-row>
                    <ion-col col-4 text-right>
                        <div>Start Date:</div>
                        <div>End Date:</div>
                    </ion-col>
                    <ion-col col-8>
                        <div>{{active.subscriptionStartDate | date:'medium'}}</div>
                        <div>{{active.subscriptionEndDate | date:'medium'}}</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-4 text-right>
                        <div>Duration:</div>
                        <div>Days to Expiry:</div>
                    </ion-col>
                    <ion-col col-8 class="package-label">
                        <div>{{active.duration}} days</div>
                        <div>{{active.daysToExpiry | number:'1.2-2'}} day(s)</div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>


        <ion-list-header>
            Subscriptions
        </ion-list-header>
        <ion-item>
            <h2>Finn</h2>
            <h3>Don't Know What To Do!</h3>
            <p>I've had a pretty messed up day. If we just...</p>
            <div style="padding: 5px 16px;" *ngIf="subscription && subscription.status === 'Pending'">
                <button type="button" ion-button block class="btn-yellow" (click)="makePayment()">Proceed to Payment</button>
                <button type="button" ion-button block color="danger" (click)="removeSubscription()">Remove Subscription</button>
            </div>
        </ion-item>
    </ion-list>


</ion-content>