page-results {
    .scroll-content {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        //overflow: hidden;
    }
    .card-label {
        color: #8a8a8a;
    }
    .centerSpinner {
        padding-top: 30%;
        padding-bottom: 30%;
        text-align: center;
        height: 100%;
        width: 100%;
    }
    ion-slide.swiper-slide {
        align-items: flex-start;
    }
    ion-slides.slides {
        height: auto;
    }
}