    page-profile {
        .profile-image {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 1px solid #a0a0a0;
        }
        .scroll-content {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }