page-make-payment {
    .summary-card {
        color: #8a8a8a;
        .summary-title {
            padding: 10px 10px 0;
            text-align: center;
            text-decoration: underline;
        }
    }
    ion-card {
        border: solid 2px orange;
        .card-content {
            padding: 0!important;
        }
    }
    ion-item {
        ion-select {
            max-width: 80%;
            width: 80%
        }
        .item-inner {
            border-bottom: none!important;
        }
    }
    .label {
        margin: 5px 8px 0px 5px;
        text-transform: uppercase;
    }
    .form-input {
        margin: auto auto 20px;
        padding: 10px;
        width: 80%;
        .text-input {
            margin: 2px 8px;
        }
    }
}