page-addseason {
    .range-ios {
        padding: 0px !important;
    }
    .item-block {
        border: 1px !important;
    }
    .col {
        padding: 0px !important;
    }
    .item-list {
        border-bottom: 1px solid darkgrey !important;
    }
}