page-home {
    .card-ios {
        box-shadow: 1px 1px 1px 1px #f1f0f0 !important;
        border: solid 1px #f1f0f0 !important;
        border-radius: 5px !important;
        max-height: 142.44px !important;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
    }
    .card-header-ios {
        font-size: 2rem;
        font-weight: 500;
        color: #333;
        padding: 16px;
        padding-bottom: 0px;
        padding-left: 5px;
    }
    img {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }
    .logo-row {
        padding-bottom: 20px;
        border-bottom: 2px solid;
        margin-bottom: 10px;
        margin-top: 10%;
        text-align: center;
    }
    .logo img {
        max-width: 150px;
    }
    .imageStyling {
        text-align: center;
        img {
            width: 250px;
            padding: 0px 15px 20px 15px;
        }
    }
    #loading {
        -webkit-animation: rotation 20s infinite linear;
    }
}