<ion-header>
    <ion-navbar color="nm1">
        <button ion-button menuToggle>
    <ion-icon name="md-grid"></ion-icon>
  </button>
        <ion-title>Take Test</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides pager="false" loop="false">

        <ion-slide style="vertical-align:top">
            <h2>Select Profession</h2>
            <ion-list>
                <ion-card *ngFor="let kind of kinds" style=" border: 2px solid #9a780d;" (click)="kindSelected(kind.id)">
                    <ion-item>
                        <h1 style="text-align: center; font-size: 3.5rem;">{{kind.name}}</h1>
                    </ion-item>
                </ion-card>
            </ion-list>
        </ion-slide>

        <ion-slide style="vertical-align:top">
            <h2>Select Field</h2>
        </ion-slide>

        <ion-slide style="vertical-align:top">
            <h2>Select Categories</h2>
        </ion-slide>
        <ion-slide style="vertical-align:top">
            <h2>Timer Settings</h2>
        </ion-slide>
        <ion-slide style="vertical-align:top">
            <h2>Start Test</h2>
        </ion-slide>
        <ion-slide style="vertical-align:top">
            <h2>Show Results</h2>
        </ion-slide>

    </ion-slides>
    <!--<ion-list>
        <ion-card *ngFor="let pay of payments" style=" border: 2px solid #009688;">
            <ion-item>
                <p text-right><span ng-class="setStatus(pay.status)">{{pay.status}}</span></p>
                <h1><span style="color: #a4a4a4;font-size: 2rem;">Plan:</span> {{pay.plan}}</h1>
                <p>Date: {{pay.createdAt | date:'medium'}}</p>
                <ion-row>
                    <ion-col col-5 text-right>
                        <div>Reference:</div>
                        <div>Account Name:</div>
                        <div>Amount:</div>
                        <div>Duration:</div>
                    </ion-col>
                    <ion-col col-7>
                        <div>{{pay.reference}}</div>
                        <div>{{pay.name || ""}}</div>
                        <div>{{pay.amount | currency:'GHS '}}</div>
                        <div>{{pay.duration}} days</div>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-card>
        <button ion-button full (click)="loadMore()" [hidden]="!(total > payments.length)" *ngIf="payments">Load More</button>
    </ion-list>-->
</ion-content>