<!--
  Generated template for the RequestsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="bk3">
        <ion-title>New Farmer</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-card>
            <ion-item-divider color="light">
                Basic Information
            </ion-item-divider>
            <ion-item>
                <ion-label stacked color="linkedin">Name</ion-label>
                <ion-input type="text" [(ngModel)]="formData.name" placeholder="Name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked color="linkedin">Phone Number</ion-label>
                <ion-input type="tel" [(ngModel)]="formData.phoneNumber" placeholder="Phone Number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked color="linkedin">Date of Birth</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="formData.dateOfBirth"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label stacked color="linkedin">Gender</ion-label>
                <ion-select [(ngModel)]="formData.gender" value="Male">
                    <ion-option value="Female">Female</ion-option>
                    <ion-option value="Male">Male</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label stacked color="linkedin">Select District</ion-label>
                <ion-select [(ngModel)]="formData.districtId">
                    <ion-option *ngFor="let p of districts" [value]="p.id">{{p.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label stacked color="linkedin">Town</ion-label>
                <ion-input type="text" [(ngModel)]="formData.town" placeholder="Town"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked color="linkedin">Residential Address</ion-label>
                <ion-textarea [(ngModel)]="formData.residentialAddress" placeholder="Address"></ion-textarea>
            </ion-item>
            <ion-item-divider color="light">
                Identification Information
            </ion-item-divider>
            <ion-item>
                <ion-label stacked color="linkedin">Select ID Type</ion-label>
                <ion-select [(ngModel)]="formData.idTypeId">
                    <ion-option *ngFor="let p of idtypes" [value]="p.id">{{p.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label stacked color="linkedin">ID Number</ion-label>
                <ion-input type="text" [(ngModel)]="formData.idNumber" placeholder="Id Number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked color="linkedin">Expiry Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="formData.idExpiryDate" min="2017" max="2030-10-10"></ion-datetime>
            </ion-item>
            <p style="text-align: center;color:#f53d3d;margin-bottom: 0px;">
                Please confirm that you have entered the right details in the fields provided.
            </p>
            <br/>
            <button ion-button type="submit" block class="save-button" (click)="save(formData)" style="    background-color: #04700d;">Save</button>

        </ion-card>
    </ion-list>
</ion-content>